* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background: #9be3fa url('../images/sky.png') no-repeat top center;
  overflow: hidden;
  background-size: 100% auto;
  font-family: 'Dosis', sans-serif;
}